*b {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.first__headline {
    font-family: 'Yeseva One', cursive;
    padding-top: 100px;
}

.banner_half__width {
    width: 43%;
    float: left;
    margin-left: 7%;
}

h1 {
    font-size: 60px;
    color: #333;
    margin: 0;
    line-height: 80px;
}

span {
    color: #548CFF;
}

.vertical__line {
    margin-top: 119px;
    margin-right: 18px;
    width: 5px;
    height: 124px;
    background-color: #7900FF;
}

.head {
    display: flex;
}

.button {
    text-decoration: none;
    color: white;
    background-color: #7900FF;
    padding: 12px 16px;
    border-radius: 5px;
}

#banner__image img {
    width: 90%;
}

.mission__2022 h2 {
    text-align: center;
    font-size: 40px;
}

.mission__2022 {
    padding-top: 600px;
}

.mission {
    height: 316px;
    width: 22%;
    border-radius: 26px;
    margin-left: 7%;
    float: left;
    padding: 15px;
}

.mission img {
    width: 40%;
}

#mission {
    background-color: #F6D7A7;
}

#vission {
    background-color: #C8E3D4;
}

#goals {
    background-color: #FFC4E1;
}

.picture h2 {
    font-size: 40px;
}

.section {
    width: 100%;
    padding-top: 150px;
    display: flex;
    margin-left: 7%;
}

.section__picture {
    width: 30%;
}

.section__picture img {
    width: 100%;
}

.content {
    width: 50%;
    margin-top: 45px;
}

.right {
    margin-left: 50px;
}

.left {
    margin-right: 50px;
}

.corona {
    padding-top: 40px;
}

.corona h2 {
    text-align: center;
    font-size: 40px;
}

.application {
    padding-top: 30px;
    display: flex;
    width: 100%;
}

.application__picture img {
    width: 100%;
}

.application__picture {
    width: 30%;
    margin-left: 10%;
}

.application__content {
    width: 45%;
    margin-left: 7%;
    margin-top: 160px;
}

.application__content h3 {
    font-size: 40px;
}

footer {
    background-color: rgb(223, 223, 223);
    color: black;
    height: 200px;
    text-align: center;
    position: relative;
}

.footer__content {
    position: absolute;
    top: 30px;
    left: 30%;
}

.footer__content h2 {
    font-size: 35px;
}